rules:
  indent:
    - 2
    - 2
  quotes:
    - 2
    - double
  linebreak-style:
    - 2
    - unix
  no-use-before-define:
    - 2
    - nofunc
  semi:
    - 2
    - always
env:
  es6: true
  node: true
extends: 'eslint:recommended'
