{
  "extends": "airbnb/base",
  "rules": {
    'max-len': [2, 120, 2, {
      'ignoreUrls': true,
      'ignoreComments': false
    }],
    "no-param-reassign": [2, {"props": false}],
    "no-use-before-define": [2, "nofunc"]
  }
}
